<div class="header">
  <h3>MY CART</h3>
  <button (click)="cartEmpty()">empty cart</button>
</div>

<div class="cart-container">
  <div class="cart-item" *ngFor="let c of cart">
    <h4>{{ c.name }}</h4>
    <div>
      <span id="cart-quantity"> {{ c.quantity }}</span>
      X <span id="cart-price">{{ c.price }}</span> =
      <span id="cart-price-total">{{ c.quantity * c.price }}</span>
      <i class="fa fa-times" aria-hidden="true" (click)="deleteCartItem(c)"></i>
    </div>
  </div>
</div>

<div *ngIf="cart.length != 0" class="order-btn-container">
  <button class="order-btn" (click)="addToOrders()">Order</button>
</div>
